- @topics.each do |topic|
	%h2= link_to topic.title, topic
	<br>
- if admin_signed_in?
	= link_to "New Topic", new_topic_path
- else 

= link_to "I'am Admin", new_admin_session_path 

= link_to "Listado de Post", root_path